<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no,user-scalable=no">
    <title>金蟾操盘宝</title>
</head>
<body>
<div class="window_toast" id="toast"></div>
<div id="root"></div>
<!--<iframe src="http://web.hdlkg.net/k2.html?type=0&code=" frameborder="0" class="k"></iframe>-->
<!--<iframe src="http://web.hdlkg.net/k2.html?type=1&code=" frameborder="0" class="k"></iframe>-->
<!--<iframe src="http://web.hdlkg.net/k2.html?type=2&code=" frameborder="0" class="k"></iframe>-->
<!--<iframe src="http://web.hdlkg.net/k2.html?type=3&code=" frameborder="0" class="k"></iframe>-->
<!--<iframe src="http://web.hdlkg.net/k2.html?type=4&code=" frameborder="0" class="k"></iframe>-->
<!--<iframe src="http://web.hdlkg.net/k2.html?type=5&code=" frameborder="0" class="k"></iframe>-->
<script src="./jquery.min.js"></script>
<script src="./jquery.signalR-2.2.3.min.js"></script>
<script src="http://139.196.236.139:1818/signalr/hubs"></script>
<script src="./localserver.js"></script>
<script src="./hammer-min.js"></script>
<script src="./polyfill.min.js"></script>

<script src="./kmap.js"></script>
<script>
    // $('.k').css('position','absolute');
    // $('.k').css('top','82px');
    // $('.k').css('left','0');
    // // $('.k').css('display','none');
    // $('.k').width(window.screen.width + "px");
    // $('.k').height("0px");
    // var r_code = '';
    // function initK(code){
    //     if(r_code != code){
    //         r_code = code;
    //         $('.k').each(function () {
    //             $(this).attr('src',$(this).attr('src') + code + '&time=' + new Date().valueOf());
    //         })
    //     }
    // }
    // function showK(index,h){
    //     $('.k').eq(index)
    //     // .height(document.documentElement.clientHeight -87-82-143 -16 + "px")
    //         .height(h + "px")
    //         .siblings('.k')
    //         .height('0px');
    // }
    function hideK() {
        // $('.k').height('0px');
    }
</script>
</body>
</html>
